*.pyc
build
build_debug
!examples/*/bc.dat
examples/*/*.dat
examples/*/ensight-3D
examples/*/*.f
examples/*/*.q
examples/*/*.xyz
examples/*/*.m
examples/*/*.txt
examples/*/*.map
examples/*/Bootstrap/*
!examples/*/Bootstrap/*.inp
examples/*/*.pdf
examples/*.png
examples/*/*.png
